USE [master]
GO
/****** Object:  Database [DDS]    Script Date: 11/16/2018 9:26:29 PM ******/
CREATE DATABASE [DDS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DDS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DDS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DDS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DDS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DDS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DDS]
GO
/****** Object:  Table [dbo].[DimConutry]    Script Date: 11/16/2018 9:26:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimConutry](
	[MaNuoc] [int] NOT NULL,
	[TenNuoc] [varchar](50) NULL,
 CONSTRAINT [PK__DimConut__21306FEA03317E3D] PRIMARY KEY CLUSTERED 
(
	[MaNuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimCuaHang]    Script Date: 11/16/2018 9:26:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCuaHang](
	[ma] [int] NOT NULL,
	[MaCH] [varchar](4) NULL,
	[TenCH] [varchar](50) NULL,
	[LoaiCH] [int] NULL,
	[MaNuoc] [int] NULL,
	[NguonDuLieu] [int] NULL,
 CONSTRAINT [PK__DimCuaHa__3213C8B70AD2A005] PRIMARY KEY CLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 11/16/2018 9:26:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[ma] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[day]  AS (datepart(day,[date])),
	[DayOfWeek]  AS (datepart(weekday,[date])),
	[week]  AS (datepart(week,[date])),
	[month]  AS (datepart(month,[date])),
	[quarter]  AS (datepart(quarter,[date])),
	[year]  AS (datepart(year,[date])),
 CONSTRAINT [PK__DimDate__3213C8B70EA330E9] PRIMARY KEY CLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimKhachHang]    Script Date: 11/16/2018 9:26:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimKhachHang](
	[ma] [int] NOT NULL,
	[MaKH] [varchar](4) NULL,
	[TenKH] [varchar](50) NULL,
	[MaNuoc] [int] NULL,
	[DiaChi] [varchar](50) NULL,
	[NguonDuLieu] [int] NULL,
 CONSTRAINT [PK__DimKhach__3213C8B77F60ED59] PRIMARY KEY CLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimSanPham]    Script Date: 11/16/2018 9:26:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimSanPham](
	[ma] [int] NOT NULL,
	[MaSP] [varchar](4) NULL,
	[TenSP] [varchar](50) NULL,
	[GiaSP] [int] NULL,
	[LoaiSP] [varchar](50) NULL,
	[NguonDuLieu] [int] NULL,
 CONSTRAINT [PK__DimSanPh__3213C8B707020F21] PRIMARY KEY CLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSaleFactTable]    Script Date: 11/16/2018 9:26:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSaleFactTable](
	[id_date] [int] NOT NULL,
	[id_KH] [int] NOT NULL,
	[id_SP] [int] NOT NULL,
	[id_CH] [int] NOT NULL,
	[id_HD] [int] NULL,
	[Ma_HD] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGiaSP] [int] NULL,
	[DonGiaGoc] [int] NULL,
	[GiaSP] [int] NULL,
	[GiaGoc] [int] NULL,
	[LoiNhuan] [int] NULL,
	[NgayBan] [date] NULL,
	[NguonDuLieu] [int] NULL,
	[NgayTao] [date] NULL,
	[NgayCapNhat] [date] NULL,
 CONSTRAINT [PK__ProductS__E39DEB8E1273C1CD] PRIMARY KEY CLUSTERED 
(
	[id_date] ASC,
	[id_KH] ASC,
	[id_SP] ASC,
	[id_CH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProductSaleFactTable]  WITH CHECK ADD  CONSTRAINT [FK_ProductSaleFactTable_DimCuaHang] FOREIGN KEY([id_CH])
REFERENCES [dbo].[DimCuaHang] ([ma])
GO
ALTER TABLE [dbo].[ProductSaleFactTable] CHECK CONSTRAINT [FK_ProductSaleFactTable_DimCuaHang]
GO
ALTER TABLE [dbo].[ProductSaleFactTable]  WITH CHECK ADD  CONSTRAINT [FK_ProductSaleFactTable_DimDate] FOREIGN KEY([id_date])
REFERENCES [dbo].[DimDate] ([ma])
GO
ALTER TABLE [dbo].[ProductSaleFactTable] CHECK CONSTRAINT [FK_ProductSaleFactTable_DimDate]
GO
ALTER TABLE [dbo].[ProductSaleFactTable]  WITH CHECK ADD  CONSTRAINT [FK_ProductSaleFactTable_DimKhachHang] FOREIGN KEY([id_KH])
REFERENCES [dbo].[DimKhachHang] ([ma])
GO
ALTER TABLE [dbo].[ProductSaleFactTable] CHECK CONSTRAINT [FK_ProductSaleFactTable_DimKhachHang]
GO
ALTER TABLE [dbo].[ProductSaleFactTable]  WITH CHECK ADD  CONSTRAINT [FK_ProductSaleFactTable_DimSanPham] FOREIGN KEY([id_SP])
REFERENCES [dbo].[DimSanPham] ([ma])
GO
ALTER TABLE [dbo].[ProductSaleFactTable] CHECK CONSTRAINT [FK_ProductSaleFactTable_DimSanPham]
GO
USE [master]
GO
