USE [master]
GO
/****** Object:  Database [NDS]    Script Date: 11/16/2018 9:26:55 PM ******/
CREATE DATABASE [NDS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NDS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\NDS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NDS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\NDS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NDS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NDS]
GO
/****** Object:  Table [dbo].[ChiTietHoaDonNDS]    Script Date: 11/16/2018 9:26:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonNDS](
	[MaChiTietKey] [int] IDENTITY(1,1) NOT NULL,
	[MaChiTiet] [int] NULL,
	[MaHDKey] [int] NULL,
	[MaSPKey] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[TrangThai] [int] NULL,
	[Nguon] [int] NULL,
 CONSTRAINT [PK__ChiTietH__CE82916921B6055D] PRIMARY KEY CLUSTERED 
(
	[MaChiTietKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuaHangNDS]    Script Date: 11/16/2018 9:26:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuaHangNDS](
	[MaCHKey] [int] IDENTITY(1,1) NOT NULL,
	[MaCH] [varchar](4) NOT NULL,
	[TenCH] [varchar](50) NULL,
	[MaLoaiCHKey] [int] NULL,
	[MaNuocKey] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[TrangThai] [int] NULL,
	[Nguon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCHKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonNDS]    Script Date: 11/16/2018 9:26:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonNDS](
	[MaHDKey] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [varchar](4) NOT NULL,
	[MaKHKey] [int] NULL,
	[MaCHKey] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NgayBan] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[TrangThai] [int] NULL,
	[Nguon] [int] NULL,
 CONSTRAINT [PK__HoaDonND__505057C81A14E395] PRIMARY KEY CLUSTERED 
(
	[MaHDKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHangNDS]    Script Date: 11/16/2018 9:26:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHangNDS](
	[MaKHKey] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [varchar](4) NOT NULL,
	[TenKH] [varchar](50) NULL,
	[DiaChi] [varchar](50) NULL,
	[MaNuocKey] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Nguon] [int] NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKHKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiCuaHangNDS]    Script Date: 11/16/2018 9:26:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiCuaHangNDS](
	[MaLoaiCHKey] [int] IDENTITY(1,1) NOT NULL,
	[MaLoaiCH] [varchar](4) NOT NULL,
	[TenLoaiCH] [varchar](50) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[TrangThai] [int] NULL,
	[Nguon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiCHKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPhamNDS]    Script Date: 11/16/2018 9:26:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPhamNDS](
	[MaLoaiSPKey] [int] IDENTITY(1,1) NOT NULL,
	[MaLoaiSP] [varchar](4) NOT NULL,
	[TenLoaiSP] [varchar](50) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[TrangThai] [int] NULL,
	[Nguon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiSPKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguonNDS]    Script Date: 11/16/2018 9:26:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguonNDS](
	[Nguon] [int] IDENTITY(1,1) NOT NULL,
	[TenNguon] [varchar](50) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Nguon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NuocNDS]    Script Date: 11/16/2018 9:26:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NuocNDS](
	[MaNuocKey] [int] IDENTITY(1,1) NOT NULL,
	[MaNuoc] [varchar](4) NOT NULL,
	[TenNuoc] [varchar](50) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[TrangThai] [int] NULL,
	[Nguon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNuocKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamNDS]    Script Date: 11/16/2018 9:26:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamNDS](
	[MaSPKey] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [varchar](4) NOT NULL,
	[TenSP] [varchar](50) NULL,
	[GiaSP] [int] NULL,
	[MaLoaiSPKey] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhap] [datetime] NULL,
	[TrangThai] [int] NULL,
	[Nguon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSPKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiNDS]    Script Date: 11/16/2018 9:26:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiNDS](
	[TrangThai] [int] IDENTITY(1,1) NOT NULL,
	[TenTrangThai] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHoaDonNDS]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHDKey])
REFERENCES [dbo].[HoaDonNDS] ([MaHDKey])
GO
ALTER TABLE [dbo].[ChiTietHoaDonNDS] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDonNDS]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_Nguon] FOREIGN KEY([Nguon])
REFERENCES [dbo].[NguonNDS] ([Nguon])
GO
ALTER TABLE [dbo].[ChiTietHoaDonNDS] CHECK CONSTRAINT [FK_ChiTietHoaDon_Nguon]
GO
ALTER TABLE [dbo].[ChiTietHoaDonNDS]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([MaSPKey])
REFERENCES [dbo].[SanPhamNDS] ([MaSPKey])
GO
ALTER TABLE [dbo].[ChiTietHoaDonNDS] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[ChiTietHoaDonNDS]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_TrangThai] FOREIGN KEY([TrangThai])
REFERENCES [dbo].[TrangThaiNDS] ([TrangThai])
GO
ALTER TABLE [dbo].[ChiTietHoaDonNDS] CHECK CONSTRAINT [FK_ChiTietHoaDon_TrangThai]
GO
ALTER TABLE [dbo].[CuaHangNDS]  WITH CHECK ADD  CONSTRAINT [FK_CuaHang_Nuoc] FOREIGN KEY([MaNuocKey])
REFERENCES [dbo].[NuocNDS] ([MaNuocKey])
GO
ALTER TABLE [dbo].[CuaHangNDS] CHECK CONSTRAINT [FK_CuaHang_Nuoc]
GO
ALTER TABLE [dbo].[CuaHangNDS]  WITH CHECK ADD  CONSTRAINT [FK_CuaHang_TrangThai] FOREIGN KEY([TrangThai])
REFERENCES [dbo].[TrangThaiNDS] ([TrangThai])
GO
ALTER TABLE [dbo].[CuaHangNDS] CHECK CONSTRAINT [FK_CuaHang_TrangThai]
GO
ALTER TABLE [dbo].[HoaDonNDS]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_CuaHang] FOREIGN KEY([MaCHKey])
REFERENCES [dbo].[CuaHangNDS] ([MaCHKey])
GO
ALTER TABLE [dbo].[HoaDonNDS] CHECK CONSTRAINT [FK_HoaDon_CuaHang]
GO
ALTER TABLE [dbo].[HoaDonNDS]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Nguon] FOREIGN KEY([Nguon])
REFERENCES [dbo].[NguonNDS] ([Nguon])
GO
ALTER TABLE [dbo].[HoaDonNDS] CHECK CONSTRAINT [FK_HoaDon_Nguon]
GO
ALTER TABLE [dbo].[HoaDonNDS]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_TrangThai] FOREIGN KEY([TrangThai])
REFERENCES [dbo].[TrangThaiNDS] ([TrangThai])
GO
ALTER TABLE [dbo].[HoaDonNDS] CHECK CONSTRAINT [FK_HoaDon_TrangThai]
GO
ALTER TABLE [dbo].[KhachHangNDS]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_Nguon] FOREIGN KEY([Nguon])
REFERENCES [dbo].[NguonNDS] ([Nguon])
GO
ALTER TABLE [dbo].[KhachHangNDS] CHECK CONSTRAINT [FK_KhachHang_Nguon]
GO
ALTER TABLE [dbo].[KhachHangNDS]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_Nuoc] FOREIGN KEY([MaNuocKey])
REFERENCES [dbo].[NuocNDS] ([MaNuocKey])
GO
ALTER TABLE [dbo].[KhachHangNDS] CHECK CONSTRAINT [FK_KhachHang_Nuoc]
GO
ALTER TABLE [dbo].[KhachHangNDS]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_TrangThai] FOREIGN KEY([TrangThai])
REFERENCES [dbo].[TrangThaiNDS] ([TrangThai])
GO
ALTER TABLE [dbo].[KhachHangNDS] CHECK CONSTRAINT [FK_KhachHang_TrangThai]
GO
ALTER TABLE [dbo].[LoaiCuaHangNDS]  WITH CHECK ADD  CONSTRAINT [FK_LoaiCuaHang_TrangThai] FOREIGN KEY([TrangThai])
REFERENCES [dbo].[TrangThaiNDS] ([TrangThai])
GO
ALTER TABLE [dbo].[LoaiCuaHangNDS] CHECK CONSTRAINT [FK_LoaiCuaHang_TrangThai]
GO
ALTER TABLE [dbo].[LoaiSanPhamNDS]  WITH CHECK ADD  CONSTRAINT [FK_LoaiSanPham_Nguon] FOREIGN KEY([Nguon])
REFERENCES [dbo].[NguonNDS] ([Nguon])
GO
ALTER TABLE [dbo].[LoaiSanPhamNDS] CHECK CONSTRAINT [FK_LoaiSanPham_Nguon]
GO
ALTER TABLE [dbo].[LoaiSanPhamNDS]  WITH CHECK ADD  CONSTRAINT [FK_LoaiSanPham_TrangThai] FOREIGN KEY([TrangThai])
REFERENCES [dbo].[TrangThaiNDS] ([TrangThai])
GO
ALTER TABLE [dbo].[LoaiSanPhamNDS] CHECK CONSTRAINT [FK_LoaiSanPham_TrangThai]
GO
ALTER TABLE [dbo].[NuocNDS]  WITH CHECK ADD  CONSTRAINT [FK_Nuoc_Nguon] FOREIGN KEY([Nguon])
REFERENCES [dbo].[NguonNDS] ([Nguon])
GO
ALTER TABLE [dbo].[NuocNDS] CHECK CONSTRAINT [FK_Nuoc_Nguon]
GO
ALTER TABLE [dbo].[NuocNDS]  WITH CHECK ADD  CONSTRAINT [FK_Nuoc_TrangThai] FOREIGN KEY([TrangThai])
REFERENCES [dbo].[TrangThaiNDS] ([TrangThai])
GO
ALTER TABLE [dbo].[NuocNDS] CHECK CONSTRAINT [FK_Nuoc_TrangThai]
GO
ALTER TABLE [dbo].[SanPhamNDS]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSanPham] FOREIGN KEY([MaLoaiSPKey])
REFERENCES [dbo].[LoaiSanPhamNDS] ([MaLoaiSPKey])
GO
ALTER TABLE [dbo].[SanPhamNDS] CHECK CONSTRAINT [FK_SanPham_LoaiSanPham]
GO
ALTER TABLE [dbo].[SanPhamNDS]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_Nguon] FOREIGN KEY([Nguon])
REFERENCES [dbo].[NguonNDS] ([Nguon])
GO
ALTER TABLE [dbo].[SanPhamNDS] CHECK CONSTRAINT [FK_SanPham_Nguon]
GO
ALTER TABLE [dbo].[SanPhamNDS]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_TrangThai] FOREIGN KEY([TrangThai])
REFERENCES [dbo].[TrangThaiNDS] ([TrangThai])
GO
ALTER TABLE [dbo].[SanPhamNDS] CHECK CONSTRAINT [FK_SanPham_TrangThai]
GO
USE [master]
GO
